html{background-color: #272727;font-family: 'Poppins', sans-serif;overflow-x:hidden;height: 100%;}
body{margin:0;position: relative;}
.navbar{background-color: #C6A47E;width:95.6%;height:fit-content;z-index:2;height:59px;margin-right:5%;}
.logo{margin-left:4.2vw;height:fit-content;background-color: #272727;display:flex;width:12.9vw;border-bottom: 1px solid #484848;height:59px; }
.logoimg{width:80%;margin:auto;}
.phone{padding:0 2em 0 2em;justify-content:center;width:100%}
.ph-cont{width:20%;display:flex;}
.no{color:white;margin:auto;font-size:.9vw;}
.phone:hover{cursor: pointer;}
.no-ctn{transition:200ms ease;}
.phone:hover>.ph-cont{animation: ph-anim 300ms ease;}
.phone:hover>.no-ctn{transform: scale(1.1);}
.phone-img{margin:auto;width:45%;}
.flex{display:flex;border-right:1px solid white;width:100%;}
.nav-item{margin:auto;font-size:.9vw;text-decoration: none;color:white;transition:200ms ease}
.nav-item:hover{transform:scale(1.2)}
.flex-row{display:flex;flex-direction:row;}
.flex-col{display:flex;flex-direction:column;}
.body-container{border-top:1px solid #484848;justify-content:flex-start;}
.social{width:4.2%;border-right:1px solid #484848;display: flex;}
.social-items{width:fit-content;margin:10px 5px auto auto;}
.sm-img{width:80%;margin:auto;transition:200ms ease;}
.dash{color:#272727;margin:0 auto;padding:5px;}
.media{padding:2px;}
.body-container-mini{width:91.4%;border-right:1px solid #484848;display: flex;flex-direction: column;position: relative;}
.line{position: absolute;top:0;height:100%;z-index:-1;}
.line-2{right:34.9%;}
.line-1{left:34.8%;}
.img-grid{display:grid;grid-template:1fr 1fr 1fr / 1fr 1fr 1fr;grid-gap:10px;width:89vw;height: 89vw;;padding:0 5px 0 5px;margin:0 auto;}
.img-ctn{display:flex;transition:100ms ease;}
.prj-loc{font-size: 25px;color:#BE985E;font-weight: 600;text-align: center;}
.prj-name{font-size: 30px;color:white;font-weight: 600;text-align: center;}
.name-col{display:flex;flex-direction: column-reverse;justify-content:center;margin:auto;width:100%;height:100%;transition: 100ms ease;opacity:0}
.name-col:hover{animation:test 300ms ease-in-out;animation-fill-mode: both;cursor: pointer;}
.prj-loc::after,.prj-name::after{animation: test 100ms ease;}
.img-1{background: url(V32_C7.0.png);background-position: 50% 50%;background-size:cover;}
.img-2{background: url(V29_C3.0.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-3{background: url(BR11_C4.1.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-4{background: url(img-4.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-5{background: url(L2_C_3_L2.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-6{background: url(V24_C1.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-7{background: url(BO9_C2_V_.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-8{background: url(V31_C1P1.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.img-9{background: url(V27_C2.png);background-size:cover;background-position: 50% 50%;background-repeat: no-repeat;}
.discover{width:100%;font-size:3vw;padding:2vw 0 2vw 4vw; color:#575757;font-weight: 600;}
.discover-item{color:white;padding:0 1vw 0 1vw;transition:200ms ease}
.discover-item:hover{cursor: pointer;color:#C6A47E;border-bottom: 1px solid #C6A47E;}
.discover-ctn{padding-left:3.2vw;width:43%;justify-content: space-between;font-size:.8em;}
.discover-nav{justify-content: space-between;padding-bottom:2vw;}
.view-all{color:#C6A47E;font-size:.8em;padding-right:1vw;}
.view-all-ctn{padding-right:1.5vw;text-decoration: none;}
.arrow{color:#C6A47E;font-weight: bolder;margin-top:-2px;transition:200ms ease}
.view-all-ctn:hover>.arrow{transform: translateX(50%);}
.view-all-proj{color:white;background-color: #C6A47E;border:none;width:fit-content;font-size:.8em;padding:.8vw;cursor: pointer;font-weight:600;}
.btn-ctn{margin:0 auto;width:fit-content;padding:2vw 0 2vw 0;}
.foot-ctn{margin:0 auto;width:91.4%;border-left:1px solid #484848;border-right:1px solid #484848;}
.foot-logo-ctn{width:33.33%;display:flex;border-right:1px solid #484848;}
.foot-logo{margin:auto;width:60%;}
.foot-contact-ctn{width:33%;}
.contact-module{margin:0 auto;width:80%;}
.contact-svg{width:6%;padding:.7vw;}
.contact-txt{color:White;font-size:.9vw;margin-top:auto;margin-bottom:auto;}
.social-footer{width:33.33%;border-left:1px solid #484848;}
.profile:nth-child(2){padding:.5vw 0 .5vw 0;}
.flex-row{display:flex;flex-direction:row;}
.flex-col{display:flex;flex-direction:column;}
.rights{background-color:#C6A47E;color:white;text-align:center;font-size:1vw;padding:1vw;}
.sm-img-f{width:70%;margin:auto;transition:200ms ease;}
.as{display:flex;padding:5px;width:fit-content}
.sm-img:hover,.sm-img:focus,.sm-img-f:hover,.sm-img-f:focus{transform: scale(1.2);}
.sf-ctn{width:70%;margin:auto;}
.line{position: absolute;top:0;height:100%;z-index:-1;}
.line-2{right:34.9%;}
.line-1{left:34.8%;}.line-3{position: absolute;bottom:13.5%;width:100vw;}
.footer{margin:0 auto;border-top:1px solid #484848;display: flex;justify-content: center;}
@keyframes ph-anim{
    33%{transform:rotateZ(30deg)}
    66%{transform: rotateZ(-60deg);}
    100%{transform:rotateZ(30deg)}
}
@keyframes test{to{opacity: 1;background: rgba(255, 255, 255, 0.01);backdrop-filter: brightness(50%) blur(2px);;border-bottom:4px solid #BE985E;}}
.rights{background-color:#C6A47E;color:white;text-align:center;font-size:1vw;padding:1vw;}
.overlay {position: fixed;display: none;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 3;cursor: pointer;display: block;animation: opac 0.8s;line-height: 1.5;-webkit-text-size-adjust: 100%;}
.sidebar {height: 100%;width: 200px;background-color: #fff;position: fixed!important;z-index: 1;overflow: auto;position: relative;}
@keyframes opac{0% {opacity: 0;}100%{opacity: 1;}}
@keyframes animateleft {0% {left: -300px;opacity: 0;}100% {left: 0;opacity: 1;}}
@keyframes test{to{opacity: 1;background: rgba(255, 255, 255, 0.01);backdrop-filter: brightness(50%) blur(2px);;border-bottom:4px solid #BE985E;}}
@keyframes ph-anim{33%{transform:rotateZ(30deg)}66%{transform: rotateZ(-60deg);}100%{transform:rotateZ(30deg)}}
@media screen and (min-width:601px) {.nav-stuff{display:none !important;}}
.side-btn{position: absolute;top: 0;left:0;z-index: 3;width:20vw;height:20vw;display: flex;}
.nav-btn{font-size:10vw;margin:0 auto;color:#272727;background: none;border:none;}
#mySidebar{background-color: black;width:100%;}
.close-btn{padding:0;color:white;font-size:12vw;width:20vw;height:20vw;text-align:center;background-color:#1c1c1c;border:0;margin:0 auto;}
.flexy{display: flex;background-color:#1c1c1c;box-shadow: 0px 0.5px 10px black;margin-bottom:10%;}
.side-item{font-size:8vw;font-weight: 500;text-decoration: none;margin:0 auto;color:white;padding:8% 0 8% 0;}
@media screen and (max-width:600px){
    .nav-hide{display:none !important;}
    .navbar{width:100%;height:fit-content;position:relative}
    .logo{width:80%;height: 100%;margin-left:20%;background-color: #272727;}
    .logoimg{width:70%;margin:auto;padding:2%} 
    .body-container-mini{margin:0 auto;width:100%;border:0}
    .line,.social{display:none;}
    .footer{display: none;}
    .rights{font-size:8px;position: fixed;bottom: 0;left: 0;right: 0;}
    .discover{font-size: 15px;width:auto;padding:3% 3% 2% 7%}
    .discover-ctn,.view-all{font-size: 7px;}
    .arrow{font-size:9px;}
    .discover-nav{padding:0 3% 2% 3%}
    .view-all-ctn{padding-right:3%}
    .img-grid{width:89vw;height: 89vw;grid-template:auto auto auto / auto auto auto;}
    .prj-name{font-size: 15px;}
    .prj-loc{font-size: 10px;}
    .view-all-proj{font-size:3vw;padding:2.5vw;}
    .btn-ctn{padding-top:6%}
}
